/* Global Styles */
ion-content {
  --background: linear-gradient(to bottom, #92A78D, #5E8C61);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.leaderboard-container {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: #3E6046;
  margin: auto;
}

.leaderboard-header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  color: #2F4F3B;
  margin-bottom: 20px;
}

/* Card Styles */
ion-card {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 1.5em;
  color: #3E6046;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

ion-card-content {
  font-size: 1.1em;
  color: #3E6046;
}

/* List and Labels */
ion-list {
  margin-top: 15px;
}

ion-item {
  --background: transparent;
  padding: 10px 0;
}

ion-label {
  font-size: 1.1em;
  color: #3E6046;
}

ion-label:first-child {
  font-weight: bold;
}

/* Navigation Bar */
.navigation.bar {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

ion-button {
  color: #000000;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

ion-button:hover {
  background-color: #5E8C61;
  color: white;
}
