<ion-content>
  <div class="home-container">
    <div class="home-header">
      <h1>Welcome to Carbon Footprint Calculator</h1>
    </div>
    <div class="home-buttons">
      <ion-button fill="clear" (click)="startQuiz()" class="home-button">Start Quiz</ion-button>
      <ion-button fill="clear" (click)="viewLeaderboard()" class="home-button">Leaderboard</ion-button>
    </div>
  </div>
  <div class="navigation-bar">
    <ion-button fill="clear" (click)="logout()" class="nav-icon">
      Logout
    </ion-button>
  </div>
</ion-content>
