
  <ion-content fullscreen>
    <div class="home-container">
      <div class="footprint-details">
        <h1 class="co2-stat">
          17.4 <span>ton CO₂/year</span>
        </h1>
        <p class="comparison">+5% since last month</p>
      </div>

      <div class="chart">
        <img
          src={grafic}
          alt="Monthly Progress Chart"
          class="chart-image"
        />
        <div class="months">
          <span>Jan</span>
          <span>Feb</span>
          <span>Mar</span>
          <span>Apr</span>
        </div>
      </div>

      <div class="illustration">
        <img
          src={femeie}
          alt="Person Holding Plant"
          class="illustration-image"
        />
      </div>
    </div>

    <div class="navigation-bar">

    </div>
  </ion-content>
